:root {
  --font-family-sans: 'MonumentGrotesk-Regular', Helvetica, Arial, sans-serif;
  --font-family-serif: 'Life-Regular', serif;
}
@font-face {
  font-family: 'Life-Regular';
  font-weight: normal;
  src: url('~static/LifeRegular.woff2') format('woff2');
}
@font-face {
  font-family: 'MonumentGrotesk-Regular';
  font-weight: normal;
  src: url('~static/MonumentGrotesk-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'MonumentGrotesk-Italic';
  font-weight: normal;
  src: url('~static/MonumentGrotesk-Italic.woff2') format('woff2');
}